{% extends 'home/layout.html'%}
{% import 'ui/home_page.html' as pg %}
{% block css %}
<style type="text/css" media="screen">
    #box{
        width: 100%;
        height: 500px;
    }
    .slide {
        height: 500px;
        width: 100%;
        position: relative;
    }
    .slide ul {
        height: 100%;
    }

    .slide li {
        list-style: none;
        position: absolute;
        top: 0;
    }

    .slide li img {
        width: 100%;
    }

    .arraw {
        opacity: 0;
    }

    .arraw a {
        width: 70px;
        height: 110px;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -55px;
        z-index: 999;
    }

    .next {
        right: -10px;
        /*opacity: .5;*/
        /*filter: alpha(opacity=50);*/
    }

    .prev {
        left: -10px;
    }
</style>
{% endblock %}
{% block content %}
<!--热门电影-->
<section id="hotmovie">
        <!--<div class="container" style="height: 500px; background-color: #0d6aad">-->
        <!--<div class="row wow fadeInRight" data-wow-delay="0.6s">-->
        <!--<div class="row">-->
        <!--<iframe class="wow fadeIn" width="100%" height="500px" frameborder=0 scrolling=no-->
        <!--src="{{ url_for('home.animation') }}"></iframe>-->
        <!--</div>-->
        <!--</div>-->
        <div id="box">
            <div class="slide">
                <ul>
                    <li>
                        <a href="#"><img src="{{ url_for('static' ,filename= 'ad/img/1.jpg')}}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static' ,filename= 'ad/img/2.jpg')}}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static' ,filename= 'ad/img/3.jpg')}}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static' ,filename= 'ad/img/4.jpg')}}" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ url_for('static' ,filename= 'ad/img/5.jpg')}}" alt=""></a>
                    </li>
                </ul>
                <div class="arraw">
                    <a href="javascript:;" class="next"></a>
                    <a href="javascript:;" class='prev'></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--热门电影-->
<!--电影列表-->
<section id="movielist">
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.6s">
            <div class="col-md-12 table-responsive">
                <table class="table text-left table-bordered" id="movietags">
                    <tr>
                        <td style="width:10%;">电影标签</td>
                        <td style="width:90%;">
                            {% for tag in tags %}
                            <a href="{{ url_for('home.index') }}?tid={{ tag.id }}&star={{ p['star'] }}&time={{ p['time'] }}&pm={{ p['pm'] }}&cm={{ p['cm'] }}"
                               class="label label-info" style="margin: 5px"><span
                                    class="glyphicon glyphicon-tag"></span>&nbsp;{{ tag.name }}</a>
                            {% if (loop.index) % 8 == 0 %}
                            <br/>
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>电影星级</td>
                        <td>
                            {% for v in range(1,6) %}
                            <a href="{{ url_for('home.index') }}?tid={{ p['tid'] }}&star={{ v }}&time={{ p['time'] }}&pm={{ p['pm'] }}&cm={{ p['cm'] }}"
                               class="label label-warning" style="margin: 5px"><span
                                    class="glyphicon glyphicon-star"></span>&nbsp;{{ v }}星</a>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>播放数量</td>
                        <td>
                            <a href="{{ url_for('home.index') }}?tid={{ p['tid'] }}&star={{ p['star'] }}&time={{ p['time'] }}&pm=1&cm={{ p['cm'] }}"
                               class="label label-success" style="margin: 5px"><span
                                    class="glyphicon glyphicon-arrow-down"></span>&nbsp;从高到底</span></a>
                            <a href="{{ url_for('home.index') }}?tid={{ p['tid'] }}&star={{ p['star'] }}&time={{ p['time'] }}&pm=2&cm={{ p['cm'] }}"
                               class="label label-danger" style="margin: 5px"><span
                                    class="glyphicon glyphicon-arrow-up"></span>&nbsp;从低到高</span></a>
                        </td>
                    </tr>
                </table>
            </div>
            {% for v in page_data.items %}
            <div class="col-md-3">
                <div class="movie_content" >
                    <img alt="{{ v.title }}" width="100%" height="100%" src="{{ url_for('static',filename='uploads/movie/image/'+v.logo) }}">
                    <a href="{{ url_for('home.play', id=v.id, page=1) }}" target="_blank"><img class="movie_play" alt="{{ v.title }}" width="40px" height="40px" src="{{ url_for('static',filename='base/images/play_icon.png') }}"></a>
                    <div class="movie_bottom">
                        <span class="movie_title" >{{ v.title }}</span>
                        <div class="movie_playNum">
                            <img alt="{{ v.title }}" width="20px" height="20px" src="{{ url_for('static',filename='base/images/play_num_icon.png') }}">
                            <span>{{ v.playnum }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                {% include 'ui/nodata_page.html' %}
            {% endfor %}

            {% if page_count > 0 %}
            <div class="col-md-12">
                {{ pg.page(page_data,'home.index') }}
            </div>
            {% endif %}

            {% if rec_page_data %}
            <div class="col-md-3" style="width: 100%;">
                <div style="width: 100%; height: 50px; border-bottom:2px solid #ff0055; margin-bottom: 15px">
                    <img src="{{ url_for('static',filename='base/images/recommend.png') }}" style="width: 30px; height: 30px; float: left; margin-top: 10px">
                    <span style="font-size: 18px; color: #ff0055; float: left; padding-left: 10px; line-height: 50px; font-weight: bold">强力推荐</span>
                </div>
                {% for v in rec_page_data %}
                <div class="col-md-4">
                    <div class="movie_recommend">
                        <img src="{{ url_for('static',filename='uploads/movie/image/'+v.logo) }}" alt="{{ v.title }}" width="100%" height="300px">
                        <span class="recommend_title" >{{ v.title }}</span>
                        <div class="movie_star">
                            <div>
                                {% for val in range(1,v.star+1) %}
                                <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                                {% endfor %}
                                {% for val in range(1,5-v.star+1) %}
                                <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                                {% endfor %}
                            </div>
                        </div>
                        <a href="{{ url_for('home.play', id=v.id, page=1) }}" target="_blank">
                            <img class="rec_movie_play" alt="{{ v.title }}" width="40px" height="40px" src="{{ url_for('static',filename='base/images/rec_play_icon.png') }}"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!--电影列表-->
{% endblock %}

{% block js %}
<script>
    var box = document.querySelector('#box');
    var slide = document.querySelector('.slide');
    var arraw = document.querySelector('.arraw');
    var lis = document.getElementById('box').getElementsByTagName('li');
    var json = [
        { width: 400, top: 10, left: 100, opacity: 40, z: 2, id: 1 },
        { width: 600, top: 40, left: 150, opacity: 70, z: 3, id: 2},
        { width: 800, top: 70, left: 200, opacity: 100, z: 4, id: 3 },
        { width: 600, top: 40, left: 450, opacity: 70, z: 3, id: 4 },
        { width: 400, top: 10, left: 700, opacity: 40, z: 2, id: 5 }
    ];
    box.addEventListener('mouseover', function () {
        animate(arraw, {
            opacity: 100
        });
    });
    box.addEventListener('mouseout', function () {
        animate(arraw, {
            opacity: 0
        });
    });

    var next = document.querySelector('.next');
    var prev = document.querySelector('.prev');
    var timer = null;
    var flag = true;
    next.addEventListener('click', function () {
        clearInterval(timer);
        if (flag == true) {
            move(true);
            flag = false;
        }
    });

    next.addEventListener('mouseleave', function () {
        clearInterval(timer);
        run();
    });

    prev.addEventListener('click', function () {
        clearInterval(timer);
        if (flag == true) {
            move(false);
            flag = false;
        }
    });
    prev.addEventListener('mouseleave', function () {
        run();
    });

    move();
    run();

    function run() {
        clearInterval(timer);
        timer = setInterval(function () {
            if (flag == true) {
                flag = false;
                move(true);
            }
        }, 3000);
    }

    function move(x) {
        if (x != undefined) {
            if (x) {
                json.push(json.shift());
            } else {
                json.unshift(json.pop());
            }
            ;
        }
        ;

        for (var i = 0; i < json.length; i++) {
            animate(lis[i], {
                width: json[i].width,
                top: json[i].top,
                left: json[i].left,
                opacity: json[i].opacity,
                zIndex: json[i].z
            }, function () {
                flag = true;
            })
        }
        ;
    }

    function animate(obj, json, callback) {
        // 先停止定时器
        clearInterval(obj.timers);
        obj.timers = setInterval(function () {
            var stoped = true;
            for (var k in json) {
                var leader = 0;
                if (k == 'opacity') {
                    leader = Math.round(getStyle(obj, k) * 100) || 100;
                } else {
                    leader = parseInt(getStyle(obj, k)) || 0;
                }
                ;
                // json[k]是目标位置
                var step = (json[k] - leader) / 10;
                step = step > 0 ? Math.ceil(step) : Math.floor(step);
                leader = leader + step;
                if (k == 'opacity') {
                    obj.style[k] = leader / 100;
                    obj.style['filter'] = 'alpha(opacity=' + leader + ')';
                } else if (k == 'zIndex') {
                    obj.style['zIndex'] = json[k];
                } else {
                    obj.style[k] = leader + "px";
                }
                if (leader != json[k]) {
                    stoped = false;
                }
            }
            ;
            if (stoped) {
                clearInterval(obj.timers);
                callback && callback();
            }
            ;
        }, 50);
    };

    //获取属性值
    function getStyle(obj, attr) {
        if (obj.currentStyle) {
            return obj.currentStyle[attr];
        } else {
            return window.getComputedStyle(obj, null)[attr];
        }
        ;
    };
</script>
{% endblock %}