<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>小电影</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='login/css/login.css') }}">
</head>

<body>
<div class="login_content">
    <div class="login_first">
        <div class="login_title">
            <img class="login_logo" src="{{ url_for('static',filename='base/images/logo.png') }}">
            <span class="login_title_text">会员登录</span>
        </div>
        <div class="login_close">
            <a href="#" onclick="javascript :history.back(-1);" ><img class="login_x" src="{{ url_for('static',filename='base/images/x.png') }}"></a>
        </div>
    </div>
    <div class="login_form">
        {% for msg in get_flashed_messages(category_filter=['ok']) %}
        <div class="alert alert-success alert-dismissible">
            {{ msg }}
        </div>
        {% endfor %}
        {% for msg in get_flashed_messages(category_filter=['err']) %}
        <div class="alert alert-danger alert-dismissible">
            {{ msg }}
        </div>
        {% endfor %}
        <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">{{ form.name.label }}</label>
            <div class="col-sm-10">
                {{ form.name }}
            </div>
            {% for err in form.name.errors %}
            <div class="col-md-12" style="padding-left: 16.66666667%;">
                <font style="color: red; font-size: 10px; padding-left: 15px">{{ err }}</font>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label" >{{ form.pwd.label }}</label>
            <div class="col-sm-10">
                {{ form.pwd }}
            </div>
            {% for err in form.pwd.errors %}
            <div class="col-md-12" style="padding-left: 16.66666667%;">
                <font style="color: red; font-size: 10px; padding-left: 15px">{{ err }}</font>
            </div>
            {% endfor %}
        </div>
        <div class="form-group" style="margin-top: 30px;">
            <div class="login_login">
                {{ form.submit }}
                {{ form.csrf_token }}
            </div>
        </div>
        <div class="login_line"></div>
        <div class="login_regist">
            还没有小电影会员帐号？ <a href="{{ url_for('home.regist') }}">立即注册</a>
        </div>
    </form>
    </div>
</div>
<script>
//$(document).ready(function(){
//    $("body").css("background-img","url("{{ url_for('static',filename='login/img/3.jpg') }}")");
//});
</script>
</body>
</html>
