{% extends 'admin/admin.html'%}
{% import 'ui/admin_page.html' as pg %}
{% block css %}
<style>
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: middle;
        text-align: left;
    }

    .td_bd {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>微电影管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 评论管理</a></li>
        <li class="active">评论列表</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">评论列表</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input id="key_tag" type="text" name="table_search" class="form-control pull-right"
                                   placeholder="请输入关键字">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default" onclick="do_search()"><i
                                        class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body box-comments">
                    {% for msg in get_flashed_messages(category_filter=['ok']) %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i>操作成功！</h4>
                        {{ msg }}
                    </div>
                    {% endfor %}
                    {% for v in page_data.items %}
                    <div class="box-comment">
                        {% if v.user.face %}
                        <img alt="头像80x80" src="{{ url_for('static',filename='uploads/head/'+v.user.face) }}"
                             class="img-circle img-sm" style="width: 80px; height: 80px">
                        {% else %}
                        <img alt="头像80x80" data-src="holder.js/80x80"
                             class="img-circle img-sm" style="width: 80px; height: 80px">
                        {% endif %}
                        <div class="comment-text">
                                    <span class="username">
                                        {{ v.user.name }}
                                        <span class="text-muted pull-right">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            &nbsp;
                                            {{ v.addtime }}
                                        </span>
                                    </span>
                            关于电影<a>《{{ v.movie.title }}》</a>的评论：{{ v.content | safe }}
                            <br><a class="label label-danger pull-right"
                                   href="{{ url_for('admin.comment_del', id=v.id) }}">删除</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="box-footer clearfix">
                    {{ pg.page(page_data,'admin.comment_list') }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).read(function () {
        $("#g-3").addClass("active");
        $("#g-3-2").addClass("active");
    });

    function do_search() {
        var key = document.getElementById("key_tag").value;
        location.href = "{{ url_for('admin.comment_search',page=1) }}?key=" + key;
    }
</script>
{% endblock %}